/*Counter program continued*/
#countLabel{
    display: block;
    text-align: center;
    font-size: 7em;
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: black;
    background-color: aquamarine;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: blueviolet;
}
/*Continued at Websiteindex.js*/
/*End of counter program*/
